@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
body {
}

collapse navbar-collapse{
    display: flex!important;
    align-items: flex-end;
    flex-wrap:wrap;
    justify-content:right;
}
nav#main-navbar a {
    color: #28a745;
    font-weight:lighter;
}

nav#main-navbar a:hover{
   color:#ffffff;
}

.dropdown-item{
    background: #000000 !important;
}