@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.BookStore.Localization
@using Volo.Abp.Users
@model Acme.BookStore.Web.Pages.IndexModel
@inject IHtmlLocalizer<BookStoreResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js" />
    </abp-script-bundle>
} 
    <link rel="shortcut icon" href="~/img/CV.jpg" />
    <link rel="SHORTCUT ICON" href="http://www.mydomain.com/content/favicon.ico" />

<div class="container">
    <div class="p-5 text-center">
        <div class="badge badge-success h5 rounded mb-4 " role="alert">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Welcome to the <strong>BookStore</strong></h5>
        </div>
        @if (!CurrentUser.IsAuthenticated)
        {
            <div>
                <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
            </div>
        }
    </div>
</div>

<abp-card-body>
    <abp-table striped-rows="true" id="AuthorsTable"></abp-table>
</abp-card-body>

@*<div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Datagories List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Datagories</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Author</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="book-name"></td>
                                            <td class="book-author"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>*@
