@page
@using Acme.BookStore.Localization
@using Acme.BookStore.Web.Areas.Admin.Pages.Slides
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<BookStoreResource> L
@{
    Layout = null;
}
<form asp-page="/Slides/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Slide.Id" />
            <abp-input asp-for="Slide.File" />
            <abp-input asp-for="Slide.Image" />
            <abp-input asp-for="Slide.Title" />
            <abp-input asp-for="Slide.Detail" />
            <abp-input asp-for="Slide.Sale" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

