@model List<Acme.BookStore.Books.Book>
@{
    Layout = null;
}
<div class="search_box">
    <form asp-controller="product" asp-action="serachdisplay">
        <input type="text" name="SearchString" value="SEARCH" onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'SEARCH';}"><input type="submit" value="">
    </form>
</div>